<nav class="navbar" [ngClass]="{'scrolled': isScrolled}">
  <!-- Guest-->
    <div class="navbar-container" *ngIf="userRole ==='Guest'">
      <a class="navbar-brand" routerLink="/">BookABite</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>

  <!-- Waiter-->
    <div class="navbar-container" *ngIf="userRole ==='Waiter'">
      <h2>Welcome, {{username}}</h2>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservation">Tables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservation">Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

  <!-- Admin-->
  <div class="navbar-container" *ngIf="userRole ==='Admin'">
    <h2>Welcome, {{username}}</h2>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
  </nav>