.home-container {
  font-family: Arial, sans-serif;
  color: #333;
}

.hero-banner {
  background-image: url('../../../../../assets/images/background2.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  background-image: url('../../../../../assets/images/background3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-banner .hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}

.hero-banner .hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
}

.hero-banner .btn {
  padding: 0.75rem 2rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-banner .btn:hover {
  background-color: #e55d00;
}

.two-column-container {
  padding: 2rem;
}

.slider {
 height: 600px;
}

[nz-carousel-content] {
  height: 100%;
  max-height: 600px;
}

[nz-carousel-content] img {
  width: 100%;
  height: 600px;
  min-height: 100%;
  min-width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.about {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 5rem;
  text-align: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Comic Sans MS', sans-serif;
}


.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: black;
  font-family: 'Lucida Handwriting', 'cursive';
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
}

.menu-item {
  text-align: center;
}

.menu-item img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.menu-content h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact {
  padding: 3rem 1rem;
  text-align: center;
}

.contact-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-content p {
  font-size: 1rem;
  line-height: 1.5;
}

.ant-modal-content {
  border-radius: 20px;
}

.ant-modal {
  border-radius: 20px;
}