<div class="menu">
  <div class="category-icons">
    <div *ngFor="let category of categories" class="icon" (click)="onCategoryChange(category)">
      <span nz-icon [nzType]="category.icon" nzTheme="outline"></span>
    </div>
  </div>

  <h2 class="category-name">{{ selectedCategory.name }}</h2>

  <div class="menu-content">
    <div class="menu-left">
      <nz-table [nzData]="leftItems" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of leftItems">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <div class="menu-right">
      <nz-table [nzData]="rightItems" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rightItems">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>