
  <div class="menu">
    <div class="category-icons">
      <div *ngFor="let category of categories" class="icon" (click)="onCategoryChange(category)">
        <span nz-icon [nzType]="category.icon" nzTheme="outline"></span>
      </div>
    </div>

    <h3 class="category-name">{{ selectedCategory.name }}</h3>

    <div class="menu-content">
      <nz-table [nzData]="allItems" [nzBordered]="true" [nzSize]="'small'" [nzShowPagination]="false">
        <thead>
          <tr>
            <th [nzWidth]="'50%'">Item</th>
            <th [nzWidth]="'20%'">Price</th>
            <th [nzWidth]="'30%'">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allItems">
            <td>{{ item.foodName }}</td>
            <td>${{ item.price }}</td>
            <td>
              <button nz-button nzType="default" (click)="decreaseQuantity(item)">-</button>
              {{ item.quantity || 00}}
              <button nz-button nzType="default" (click)="increaseQuantity(item)">+</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <div class="modal-footer">
      <button
        nz-button
        nzType="default"
        [disabled]="!selectedMenuItems.length"
        (click)="onConfirmAddItem()"
      >
        Confirm
      </button>
    </div>
  </div>