/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

.home-container {
    height: 120vh;
    background-image: url('./assets/images/background2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

.about, .menu-highlights, .gallery, .contact {
    background-image: url('./assets/images/background3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 6px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #666 #333;
}