/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 6px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #666 #333;
}